ENABLE_APM=0
GATEWAY_JWT_TOKEN=your_gateway_jwt_token
JWT_TOKEN=your_jwt_token
NODE_ENV=development
SECRET_KEY_ONE=your_secret_key_one
SECRET_KEY_TWO=your_secret_key_two
CLIENT_URL=http://localhost:3000
AUTH_BASE_URL=http://localhost:4002
USERS_BASE_URL=http://localhost:4003
GIG_BASE_URL=http://localhost:4004
MESSAGE_BASE_URL=http://localhost:4005
ORDER_BASE_URL=http://localhost:4006
REVIEW_BASE_URL=http://localhost:4007
REDIS_HOST=redis://localhost:6379

ELASTIC_SEARCH_URL=your_elasticsearch_url
ELASTIC_SEARCH_USERNAME=your_elasticsearch_username
ELASTIC_SEARCH_PASSWORD=your_elasticsearch_password
ELASTIC_APM_SERVER_URL=your_elastic_apm_server_url
ELASTIC_APM_SECRET_TOKEN=your_elastic_apm_secret_token